$black-colour: #323232;
$white-colour: #ffffff;

$green-button-colour: #343c21;
$green-footerBg-colour: #d8e3d5;
$brown-heading-colour: #4c2d27;
$gray-role-colour: #363636;
$brown-border-colour: #b6a9a7;
