@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Julius+Sans+One&display=swap");
@import "./colours";

$breakpoint-mobile: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$primary-font-family: "Arima", system-ui;
$secondary-font-family: "Julius Sans One", sans-serif;
