@import "../../styles/global.scss";

.footer {
  background-color: $green-footerBg-colour;
  font-family: $secondary-font-family;
  padding: 0.6rem 3rem;
  display: flex;
  justify-content: space-between;

  &__nav {
    list-style-type: none;
    padding: 0;
    line-height: 3rem;
  }

  &__link {
    text-transform: uppercase;
  }

  &__right {
    text-align: right;
  }

  &__heading {
    font-weight: 300;
    text-transform: uppercase;
  }
}
